[user]
    name = Nikita Kuznetsov
    email = nikita.kuznetsov@daedalus.ru

[alias]
    up = !(git add . && git stash && git pull --rebase >&2) | grep -v \"No local changes to save\" && git stash pop
    ci = commit
    st = status
    co = checkout
    sync = git up && git push

[color]
    diff = auto
    status = auto
    branch = auto
